body {
	color : #5A86BF;
	background-color: #DCE8F2;
	font font-family: open sans;
}

a {
	color: #5A86BF;
	text-decoration: none;
	font-size: 15px;
}

a:hover {
	text-decoration: underline;
}

#container {
	margin-left: 100px;
	margin-right: 100px;
	padding: 50px;
}

#teaser {
	border: 1px solid black;
	background: steelblue;
	padding: 10px;
	text-align: center;
	color: white;
}

.star {
	border-radius: 80% ;
	width: 100px ;
}

.shadow {
	box-shadow: 3px 3px 5px black;
}

#footer {
	background-color: steelblue;
	color: white;
	text-align:  center;
	font-size: 15px;
}
	
#title {
	text-align: center;
	margin-bottom: 2em;
}

#wrapper {
	background-image: url("../images/BigApple.jpg");
	height: 650px;
	border: 1px solid black;
	text-align: center;
	color: white;
}

.spacer {
	height: 8em;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid black;
}

